<div class="container">
  <div class="row my-3 shadow-sm p-3 mb-2 px-3 bg-white">
    <input type="text" [(ngModel)]="nome" class="rounded mx-2" placeholder="Pesquisar Usuários..." />
    <button type="button" (click)="buscarUsuarios()" class="btn btn-primary">Pesquisar</button>
  </div>
  <p *ngIf="!isVazia();then tabela"></p>
  <ng-template #tabela>
    <div class="row border my-1 shadow-sm ">
      <div class="col">
        <div *ngFor="let a of listaUser" class="row my-3  p-3 mb-2 px-3 bg-white">
          <div class="col-sm-5">
            Usuário : {{a.nome}}
          </div>
          <div class="col">
            <button type="button" (click)="adicionar(a)" class="btn btn-primary">{{nomeBotao()}}</button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

</div>