<div class="card rounded border-primary shadow p-3 mb-5 bg-light " style="width: 40%;padding: 10px; margin:auto;margin-top: 50px;vertical-align: middle;">
  <h3>Perfil de {{ user.nome }}</h3>
  <!-- Isso exibe a label e o input de nome -->
  <div class="row align-items-start">
    <div class="col">
      <div class="row">
        <div class="col-sm-2"><label for="nome">Nome: </label></div>
        <div class="col">

          {{user.nome}}
        </div>
      </div>
    </div>
  </div>
  <!-- Isso exibe a labe e o input de login -->
  <div class="row align-items-start">
    <div class="col">
      <div class="row">
        <div class="col-sm-2"><label for="login">Login: </label></div>
        <div class="col">
          {{user.login}}
        </div>
      </div>
    </div>
  </div>

  <!-- Isso exibe a labe e o input de login -->
  <div class="row align-items-start">
    <div class="col">
      <div class="row">
        <div class="col-sm-2"><label for="cidade">Cidade: </label></div>
        <div class="col">
          {{cidade.nome}}
        </div>
      </div>
    </div>
  </div>

  <p></p>
  <!-- Esse é o botão de voltar e cancelar -->
  <button type="button" style="width: 100%;" (click)="onClickFisrtButton()" class="btn btn-primary">
    {{ labelOfFirstButton }}
  </button>
  <p></p>
  
</div>
<p></p>
<!-- <app-cidade></app-cidade> -->