<div class="container shadow-sm p-3 mb-2 bg-white rounded border">
  <div class="row">
    <div class="col">
      <h3>Filtro de feed</h3>
    </div>
    <div class="col">
      <div class="row" *ngFor="let tag of listaTags">
        <div class="col">
          <input type="checkbox" id="checkTag" [checked]="tag.check" (change)="tag.alterar()" />
          <label for="checkTag">{{tag.nome}}</label>
        </div>
      </div>
    </div>
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{cidadeSelecionada }}</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button *ngFor="let cidade of listaCidades" (click)="changeCidade(cidade)" class="dropdown-item"> {{
            cidade.nome }}</button>
        </div>
      </div>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="atualizarFeed()">Atualizar</button>
    </div>
    
  </div>
</div>
<div class="rounded  p-3 mb-5 bg-white rounded">
  <app-feed-item *ngFor="let item of lista" [valor]="item"></app-feed-item>
</div>