<div class="shadow-sm p-3 mb-2 bg-white rounded border container">
    <div class="row">
        <div class="col">
            <app-item-prato [prato]="item.prato"></app-item-prato>
        </div>
        <div class="col">
            <!-- <button type="button" class="btn btn-primary mx-1" (click)="redirecionarReservar()">Reservar</button> -->
            <button type="button" class="btn btn-primary mx-1" (click)="redirecionarCompartilhar()">Avaliar</button>
            <button type="button" class="btn btn-primary mx-1" (click)="redirecionarAvaliar()">Compatilhar</button>
            <button type="button" class="btn btn-primary mx-1" (click)="redirecionarRestaurante($event)">Ver
                restaurante</button>
        </div>
    </div>
</div>
<!--<app-modal-reserva [prato]="item.prato"> </app-modal-reserva>
-->
