<div class="shadow-sm p-3 mb-2 bg-white rounded border container">
    <div class="row my-2 ">
        <div class="col">
            <app-item-prato [prato]="item.prato"></app-item-prato>
        </div>
        <div class="col">
            <!-- <button type="button" class="btn btn-primary mx-1" (click)="redirecionarReservar()">Reservar</button> -->
            <button type="button" class="btn btn-primary mx-1" (click)="redirecionarAvaliar()">Ver prato
            </button>
            <button type="button" class="btn btn-primary mx-1" (click)="open(content)">Compartilhar</button>
            <button type="button" class="btn btn-primary mx-1" (click)="redirecionarRestaurante($event)">Ver
                restaurante</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ngb-accordion #acc="ngbAccordion" (panelChange)="carregarRestaurante()">
                <ngb-panel title="Informações Restaurante">
                    <ng-template ngbPanelContent>
                        <div class="row">
                            <div class="col">
                                <h3>{{restaurante.nome}} </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">Descrição: {{ restaurante.descricao }}</div>
                        </div>
                        <div class="row">
                            <div class="col">Rua: {{ restaurante.rua }}, {{ restaurante.numero }}</div>
                        </div>
                        <div class="row">
                            <div class="col">Telefone: {{ restaurante.telefone }} </div>
                        </div>
                        <div class="row">
                            <div class="col">Cidade: {{ nomeCidade }}</div>
                        </div>

                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Compartilhar</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="col">
                <h6>Amigos : </h6>
                <div class="row" *ngFor="let a of listaAmigos">
                    <div class="col">
                        <app-item-usuario [user]="a"></app-item-usuario>
                    </div>
                    <div class="col"><button type="button" class="btn btn-primary" (click)="share(a)">Compartilhar</button></div>
                </div>
            </div>
        </div>
    </div>
</ng-template>