<div id="mySidenav" class="sidenav bg-primary text-dark" (mouseover)="openNav()" (mouseout)="closeNav()">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a routerLink="/home" (click)="closeNav()">Home</a>
  <a routerLink="/page/user" (click)="closeNav()">Perfil</a>
  <a routerLink="/usuario/amigos" (click)="closeNav()">Amigos</a>
  <a routerLink="/usuario/reservas" (click)="closeNav()">Reservas</a>
  <a routerLink="/usuario/notificacoes" (click)="closeNav()">Notificações</a>
  <a routerLink="/restaurante/:4" (click)="closeNav()">Restaurante</a>
  <hr />
  <a routerLink="/admin/restaurante" (click)="closeNav()" *ngIf="hasRestaurante()">Administração</a>
  <a routerLink="/admin/restaurante/colaboradores" (click)="closeNav()" *ngIf="isGerente()">Colaboradores</a>
  <a routerLink="/admin/restaurante/aprovar" (click)="closeNav()" *ngIf="isGerente()">Aprovações</a>
  <a routerLink="/restaurates/reservar" (click)="closeNav()" *ngIf="hasRestaurante()">Reservas</a>
</div>

<!-- Use any element to open the sidenav -->
<span (click)="openNav()">
  <img src="assets/images/icone-sidebar.png" width="20px" height="20px">
</span>
