<div id="mySidenav" class="sidenav bg-primary text-dark">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a routerLink="/home" (click)="closeNav()">Home</a>
  <a routerLink="/page/user" (click)="closeNav()">Página do usuário</a>
  <a routerLink="#" (click)="closeNav()">Amigos</a>
  <a routerLink="#" (click)="closeNav()">Reservas</a>
  <hr />
  <a routerLink="/admin/restaurante" (click)="closeNav()" *ngIf="hasRestaurante()">Administracao</a>
  <a routerLink="/admin/restaurante/colaboradores" (click)="closeNav()" *ngIf="isGerente()">Colaboradores</a>
  <a routerLink="/admin/restaurante" (click)="closeNav()" *ngIf="isGerente()">Notificações</a>
  <a routerLink="/admin/restaurante" (click)="closeNav()" *ngIf="hasRestaurante()">Reservas</a>
</div>

<!-- Use any element to open the sidenav -->
<span (click)="openNav()">
  <img src="assets/images/icone-sidebar.png" width="20px" height="20px">
</span>
