<div class="container my-3  p-3 mb-2 px-3 bg-white">
  <div class="row">
    <div class="col">
      <h2>{{ restaurante.nome }}</h2>
      <div class="card">
        <p></p>
        <h5 class="card-subtitle mb-2 text-muted">
          Descrição: {{ restaurante.descricao }}
        </h5>
        <ul class="list-group list-group-flush">
          <div class="row">
            <div class="col">
              <li class="list-group-item">
                Rua: {{ restaurante.rua }}, {{ restaurante.numero }}
              </li>
              <li class="list-group-item">
                Telefone: {{ restaurante.telefone }}
              </li>
            </div>
            <div class="col">
              <li class="list-group-item">Cidade: {{ nomeCidade }}</li>
              <li class="list-group-item">Pontuação:</li>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="tab rounded bg-primary">
                <button class="tablinks" (click)="alterar(1)">Cardápio</button>
                <button class="tablinks" (click)="alterar(0)">
                  Comentários
                </button>
              </div>

              <div
                class="container my-3  p-3 mb-2 px-3 bg-white"
                *ngIf="cardapio"
              >
                <div class="row">
                  <div class="col">
                    <h2>Cardápio</h2>
                    <p></p>
                    <!-- Aqui ficam os pratos a serem exibidos -->
                    <div class="row">
                      <div class="col" *ngFor="let prato of pratos">
                        <div class="card" style="width: 18rem;">
                          <img
                            class="card-img-top"
                            [src]="getUrlImagem(prato.idimagem)"
                            width="80px"
                            height="130px"
                          />
                          <h5 class="card-title">{{ prato.nome }}</h5>
                          <a href="#" class="card-link">Informações</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="container my-3  p-3 mb-2 px-3 bg-white"
                *ngIf="!cardapio"
              >
                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <div class="card">
                          <h5 class="card-title">Nos avalie aqui:</h5>
                          <textarea></textarea>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              <div class="row">
                                <div class="col"><p>Botão das estrelas</p></div>
                                <div class="col"></div>
                                <div class="col"></div>
                                <div class="col">
                                  <button
                                    type="button"
                                    class="btn btn-primary mx-1"
                                    (click)="realizarComentario()"
                                  >
                                    Avaliar
                                  </button>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <h2>Comentários</h2>
                    <div class="row"><div class="col"></div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
