<div class="card">
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <label for="nome">Nome</label>
    <input type="text" id="nome" required [(ngModel)]="restaurante.nome" name="nome">
    <br />
    <label for="descricao">Descricao</label>
    <input type="text" id="descricao" required [(ngModel)]="restaurante.descricao" name="descricao">
    <br />

    <label for="telefone">telefone</label>
    <input type="text" id="telefone" required [(ngModel)]="restaurante.telefone" name="telefone">
    <br />

    <label for="rua">rua</label>
    <input type="text" id="rua" required [(ngModel)]="restaurante.rua" name="rua">
    <br />

    <label for="numero">numero</label>
    <input type="text" id="numero" required [(ngModel)]="restaurante.numero" name="rua">
    <br />


    <p>Inserir cidades depois</p>
    <br />
    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>

</div>
