<div class="container my-3 shadow-sm p-3 mb-2 px-3 bg-white">
  <div class="row my-3 shadow-sm p-3 mb-2 px-3 bg-white">
    <app-item-prato [prato]="prato"></app-item-prato>
  </div>
  <div class="row my-3 shadow-sm p-3 mb-2 px-3 bg-white">
    <div class="row">
      <div class="col">
        <p>
          Escolher o dia da Reserva:
        </p>
      </div>
      <div class="row">
        <div class="col">
          <input type="date" [value]="dataReserva" />
        </div>
      </div>
      <div class="row">
        <button type="button" class="btn btn-primary mx-3" (click)="reservar()">Reservar</button>
      </div>
    </div>

  </div>

</div>