<div class="container my-3  p-3 mb-2 px-3 bg-white">
  <div class="row ">
    <div class="col my-3  p-3 mb-2 px-3">
      <div class="row">
        <div class="col">
          <img
            [src]="getUrlImagem(prato.idimagem)"
            width="100px"
            height="130px"
          />
        </div>
      </div>

      <div class="card">
        <h2 class="card-title">{{ prato.nome }}</h2>
        <p></p>
        <h5 class="card-subtitle mb-2 text-muted">
          Descrição: {{ prato.descricao }}
        </h5>
        <ul class="list-group list-group-flush">
          <div class="row">
            <div class="col"><h6>Tags:</h6></div>
            <div class="col"></div>
            <div class="col">
              <button
                type="button"
                class="btn btn-primary mx-1"
                (click)="open(content)"
              >
                Reservar
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col" *ngFor="let tag of tags">
              <p>{{ tag.nome }}</p>
            </div>
            <div class="col" *ngIf="tags.length == 0">
              <p>Esse prato não está realcionado a nenhuma TAG</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <li class="list-group-item">
                Número de avaliações: {{ avaliacoes }}
              </li>
            </div>
            <div class="col">
              <li class="list-group-item">
                Pontuação:
                <ngb-rating
                  [(rate)]="mediaPrato"
                  [readonly]="true"
                  max="5"
                ></ngb-rating>
              </li>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="tab rounded bg-primary">
                <div class="container my-3  p-3 mb-2 px-3 bg-white">
                  <div class="row">
                    <div class="col">
                      <div class="row">
                        <div class="col">
                          <div class="card">
                            <h5 class="card-title">Nos avalie aqui:</h5>
                            <textarea
                              [(ngModel)]="avaliacao"
                              class="md-textarea form-control"
                            ></textarea>
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">
                                <div class="row">
                                  <div class="col">
                                    <p>
                                      Nota:
                                      <ngb-rating
                                        [(rate)]="notaPrato"
                                        [readonly]="false"
                                        max="5"
                                      ></ngb-rating>
                                    </p>
                                  </div>
                                  <div class="col"></div>
                                  <div class="col"></div>
                                  <div class="col">
                                    <button
                                      type="button"
                                      class="btn btn-primary mx-1"
                                      (click)="realizarComentario()"
                                    >
                                      Avaliar
                                    </button>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <h2>Comentários</h2>
                      <div class="row" *ngFor="let coment of comentarios">
                        <div class="col">
                          <div class="card">
                            <h5 class="card-title">
                              Comentário de {{ coment.nomeUsuario }} feito no
                              dia {{ coment.data | date: "dd/MM/yyyy" }}
                            </h5>
                            <h5 class="card-subtitle mb-2 text-muted">
                              {{ coment.comentario }}
                            </h5>
                            <ul class="list-group list-group-flush">
                              <div class="row">
                                <div class="col">
                                  <li class="list-group-item">
                                    Nota:
                                    <ngb-rating
                                      [(rate)]="coment.nota"
                                      [readonly]="true"
                                      max="5"
                                    ></ngb-rating>
                                  </li>
                                </div>
                              </div>
                            </ul>
                          </div>
                          <p></p>
                        </div>
                      </div>
                      <div class="row" *ngIf="comentarios.length == 0">
                        <div class="col">
                          <h4>
                            Ainda não há comentários e avaliações para este
                            prato, seja o primeiro!
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Reserva</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="row">
        <div class="col">
          <h6>Dia da reserva:</h6>
          <input type="date" #c [(ngModel)]="dataReserva" />
          <p></p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <h6>Código promocional:</h6>
            <b></b>
            <input type="text" [(ngModel)]="promocao" />
          </div>
          <p></p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            type="button"
            class="btn btn-primary mx-1"
            (click)="fazerReserva()"
          >
            Fazer reserva
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
