<div class="container">
  <div class="row">
    <div class="col">
      <div class="row shadow-sm p-3 my-2 bg-white rounded border">
        <div class="col">
          <div class="row">
            <div class="col">
              <h6>Aprovar Cardápio do dia Simples</h6>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="row" *ngFor="let pratoDia of listaPratos">
                <div class="col">
                  <div class="row">
                    <div class="col-sm-4">
                      {{ pratoDia.prato.nome }} em {{ formatarData(pratoDia.pratoDia.data) }}
                    </div>
                    <div class="col-sm-4">
                      Resposavel : {{ pratoDia.responsavel.nome }}
                    </div>
                    <div class="col-sm-4">
                      <button type="button" class="btn btn-primary" (click)="aceitarSimples(pratoDia)">Aceitar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row shadow-sm p-3 my-2 bg-white rounded border">
        <div class="col">
          <div class="row">
            <div class="col">Aprovar Ciclos</div>
          </div>
          <div class="row">
            <div class="col">
              <div class="row" *ngFor="let periodo of listaPratosPeriodo">
                <div class="col">
                  <div class="row">
                    <div class="col-sm-4">
                      {{ periodo.prato.nome }} em
                      {{ formatarData(periodo.periodo.data_inicio) }} a {{ formatarData(periodo.periodo.data_fim)}}
                    </div>
                    <div class="col-sm-4">
                      Resposavel : {{ periodo.responsavel.nome }}
                    </div>
                    <div class="col-sm-4">
                      <button type="button" class="btn btn-primary" (click)="aceitarPeriodo(periodo)">Aceitar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>