<div class="card rounded border-primary shadow p-3 mb-5 bg-light " style="width: 40%;padding: 10px; margin:auto;margin-top: 50px;vertical-align: middle;">
  <div class="row">
    <div class="column">
      <app-login></app-login>
    </div>
    <div class="column">
      <button type="button" style="width: auto;" class="btn btn-primary" routerLink="/register" [queryParams]="{gerente:0}">Registrar</button>
      <br />
      <button type="button" style="width: auto;" class="btn btn-primary" routerLink="/register" [queryParams]="{gerente:1}">Registrar Gerente</button>
    </div>
  </div>
</div>